*.opensdf
*.sdf
*.obj
*.sbr
*.tlh
*.bsc
out_win32/Briscola_net.exe
*.ilk
*.tlog
Debug/Client_jpg.pch
Debug/vc110.idb
*.tli
Debug/Client_jpg.lastbuildstate
*.pdb
Debug/Client_jpg.res
Debug/Client_jpg.log
*.ncb
*.plg
AXDeck/AX_jpg_Server.opt
*.pch
AXDeck/Debug/AX_jpg_Server.log
AXDeck/Debug/AX_jpg_Server.lib
AXDeck/Debug/AX_jpg_Server.exp
*.idb
*.ipch
AXDeck/Debug/AX_jpg_Server.Build.CppClean.log
Client_jpg.aps
Debug/Briscola_net.Build.CppClean.log
*.suo
Client_jpg.v12.suo